* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*DESKTOP*/

@media (min-width: 1440px) {
    .App {
    }


    .FormContainer {
        width: 100%;

        margin: auto;

        display: flex;
    }

    .TryItFree {
        color: white;

        width: 500px;
        height: 65px;

        background-color: #4b3a80;
        border-radius: 15px;


        padding: 25px 0 0 110px;

        box-shadow: 1px 11px 3px 0 rgba(34, 60, 80, 0.19);
    }


    .HowToCodeContainer {
        position: relative;
        top: 50%;
        left: 0;
        z-index: 1;

        width: 50%;
        height: 50%;

        color: white;
        font-size: 17px;
    }

    .HowToCodeText {
        width: 70%;

        min-height: 250px;

        margin: auto;
    }


    .FromEnterLogin {
        width: 50%;
    }

    .LearnToCode {
        width: 350px;
        height: 120px;

        font-weight: bold;
        font-size: 40px;
    }

    .AgreeingTerms {
        padding: 7px 0 0 50px;

        color: darkgray;

        font-size: 12px;
    }

    .TermsAndServices {
        color: #ff6a14;
        margin: -4px 0 0 5px;
    }

    .WeightSpan {
        font-weight: bold;
    }

}

/*DESKTOP*/


/*MOBILE*/


@media (max-width: 1440px) {



}


/*MOBILE*/






































